@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alegreya&family=Lato&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

main {
  /*margin: 0 15rem;*/
  display: flex;
  flex-direction: column;
  /*flex-basis: 33%;*/
  align-items: center;
  width: calc(100% - (160px * 2));
  margin: auto;
  background-color: #c3c3c3;
  
}

h1,h2 {
  margin-left: 1rem;
}

/* #links {
  display: flex;
  flex-direction: column;
} */


.row-sa {
  justify-content: space-around;
}

.row-centre {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

#snippets-container {
  margin: 0rem 1rem;
}


section {
  width: 900px;
}

.card {
  height: 480px;
  border: 2px #444 solid;
  border-radius: 0.175rem;
  width: 360px;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

.card {
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  /* transition: all 500ms; */
  /* width: 100%; */
  /* height: 100%; */

}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.01);
 }

ul {
  list-style: none;
}

.card li {
  border: 1px solid #444;
  padding: 0.2rem;
  border-radius: .175rem;
  background-color: #2965f1;
}

p, code {
  padding: .5rem;
}

code {
  background-color: #444;
  color: #ddd;
  border-radius: .175rem;
  margin-left: 1rem;
}

div {
  /* height: 100px; */
}

pre {
  white-space: pre-wrap; /* removes the leading whitespace */
  padding: .5rem;
  background-color: #444;
  color: #ddd;
  border-radius: .175rem;
  margin: 0 .5rem;
  width: inherit;
}

.banner {
    height: 5vh;
    padding: .5rem;
    color: #ddd;
    /* background-color: #2965f1; */
    background: linear-gradient(to right, #264de4 0%, #2965f1 16.66%, #ebebeb 33%, #ffffff 50%, #000000 100%);
    /* colors
      #264de4
      #2965f1
      #ebebeb
      #ffffff
      #000000
    */
}

.navbar {
  background-color: #444;
  height: 4vh;
  color: #ddd;
}

.nav {
  gap: 1rem;
  align-items: center;
  /*justify-content: center;*/
}

.nav li:hover {
  border-bottom: 1px solid #ddd;
}

a {
	color:  currentColor;
	text-decoration:  none;
}

.links-list li{
  margin-left:  1rem;
}

.links-frameworks li {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: .2rem;
}


#snippets-container {
  position: relative;
  align-items: stretch;
}

#snippets-add-form {
  border: blue solid 2px;
  width: 360px;
  height: 480px;
  padding: 1rem;

  position: absolute;
  z-index:2;
  background-color: #444;
  color: #ddd;
  left: -5000px;
}

.sm-logo {
  width: 32px;
}


footer {
  background-color: #444;
  height: 4.3vh;
}