<%- include('header') %>
	<h1>What is your Postal Code?</h1>

	<form class="pure-form">
		<fieldset>
			<input type="number" name="postalCode" placeholder="A1B2C3" autofocus required>
			<input type="submit" class="pure-button pure-button-primary" value="Go">
		</fieldset>
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/main.js"></script>
	
<%- include('footer') %>